body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
}


.rainbow-bg {
  background: linear-gradient(
    135deg,
    rgba(255, 0, 0, 0.15),
    rgba(255, 165, 0, 0.15),
    rgba(255, 255, 0, 0.15),
    rgba(0, 128, 0, 0.15),
    rgba(0, 0, 255, 0.15),
    rgba(75, 0, 130, 0.15),
    rgba(238, 130, 238, 0.15)
  );
  background-size: 200% 200%;
}
